<h3>Add Story</h3>
<div class="row">
    <form action="/pokemons" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="pokeName" name="pokeName">
                <label for="pokeName">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="number" id="pokeId" name="pokeId">
                <label for="pokeId">ID</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dex" class="btn orange">Cancel</a>
        </div>
    </form>
</div>